.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.header-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.homeButton a {
  text-decoration: none;
  color: aliceblue;
}

.material-icons {
  margin-right: 20px;
}
