<div id="header-row">
  <h1>Client</h1>
  <h1>Contacts</h1>
  <h3><span class="material-icons"> search </span>Search Clients</h3>

  <mat-form-field appearance="fill">
    <mat-label>Sort By</mat-label>
    <mat-select disableRipple>
      <mat-option value="1">Assending</mat-option>
      <mat-option value="2">Dessending</mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-button><span class="material-icons"> menu </span></button>
  <button mat-button>Add Client</button>
  <button mat-button><span class="material-icons"> more_vert </span></button>
</div>
<div id="card">
  <mat-card class="example-card">
    <div class="cardItem">
      <h1><p>Anagrama</p></h1>
      <p>Dog Breed</p>
    </div>
  </mat-card>
  <mat-card class="example-card">
    <div class="cardItem">
      <h1><p>Anagrama</p></h1>
      <p>Dog Breed</p>
    </div> </mat-card
  ><mat-card class="example-card">
    <div class="cardItem">
      <h1><p>Anagrama</p></h1>
      <p>Dog Breed</p>
    </div> </mat-card
  ><mat-card class="example-card">
    <div class="cardItem">
      <h1><p>Anagrama</p></h1>
      <p>Dog Breed</p>
    </div>
  </mat-card>
  <mat-card class="example-card">
    <h1><p>Anagrama</p></h1>
    <p>Dog Breed</p>
  </mat-card>
  <mat-card class="example-card">
    <h1><p>Anagrama</p></h1>
    <p>Dog Breed</p>
  </mat-card>
  <mat-card class="example-card">
    <h1><p>Anagrama</p></h1>
    <p>Dog Breed</p>
  </mat-card>
  <mat-card class="example-card">
    <h1><p>Anagrama</p></h1>
    <p>Dog Breed</p>
  </mat-card>
  <mat-card class="example-card">
    <h1><p>Anagrama</p></h1>
    <p>Dog Breed</p>
  </mat-card>
  <mat-card class="example-card">
    <h1><p>Anagrama</p></h1>
    <p>Dog Breed</p>
  </mat-card>
  <mat-card class="example-card">
    <h1><p>Anagrama</p></h1>
    <p>Dog Breed</p>
  </mat-card>
  <mat-card class="example-card">
    <h1><p>Anagrama</p></h1>
    <p>Dog Breed</p>
  </mat-card>
</div>
