<mat-toolbar>
  <span>LOGIN</span>
</mat-toolbar>
<mat-card class="my-card">
  <mat-card-content>
    <form class="my-form">
      <div class="form-fild">
        <div class="lable">Email</div>
        <input matInput placeholder="Email" name="email" />
      </div>
      <div class="form-fild">
        <div class="lable">Password</div>
        <input matInput placeholder="Password" name="password" />
      </div>
      <button mat-raised-button color="primary">LOGIN</button>
    </form>
  </mat-card-content>
</mat-card>
