.my-card {
  width: 40%;
  margin: 10px;
  background: #f4f7fc;
}
.form-fild {
  display: flex;
  margin: 10px;
}

.lable {
  width: 100px;
}

input {
  width: 80%;
}

button {
  display: flex;
  align-items: center;
}
